@keyframes bounce {
  from {
    transform: translateY(0%);
  }

  30% {
    transform: translateY(-10%);
  }

  60% {
    transform: translateY(0%);
  }

  85% {
    transform: translateY(-3%);
  }

  to {
    transform: translateY(0%);
  }
}

.title {
  width: 100vw;
  text-align: center;
}

.score {
  background-color: rgb(240, 240, 255);
  text-align: center;
  margin-bottom: 1em;
}

.container {
  display: grid;
  grid-template-columns: 20em 20em 20em;
  justify-content: space-around;

  border: 1px solid red;
}

.card {
  border: 1px solid black;
  border-radius: 1em;
  background-color: rgb(159, 191, 252);
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:hover {
  box-shadow: rgba(190, 190, 250, 0.8) 10px 10px 99px 33px;
}

.card:hover img {
  animation: ease-out 0.3s bounce;
}

.pokeName {
  font-size: 30px;
}

.pokeSprite {
  border: 1px solid white;
  width: 50%;
}

.pokeSprite img {
  width: 80%;
}

/* grid changes for two-column width */
@media (max-width: 59em) {
  .container {
    grid-template-columns: 20em 20em;
  }
}

/* grid changes for one-column width */
@media (max-width: 40em) {
  .container {
    grid-template-columns: 20em;
  }
}
