@keyframes bounce {
  from {
    transform: translateY(0%);
  }

  30% {
    transform: translateY(-10%);
  }

  60% {
    transform: translateY(0%);
  }

  85% {
    transform: translateY(-3%);
  }

  to {
    transform: translateY(0%);
  }
}

@keyframes messageSlide {
  from {
    top: 120%;
  }
  40% {
    top: 50%;
  }
  70% {
    top: 50%;
  }
  to {
    top: -20%;
  }
}

.title {
  width: 100vw;
  text-align: center;
}

.desc {
  margin-left: 10em;
  margin-right: 10em;
}

.score {
  background-color: rgb(240, 240, 255);
  text-align: center;
  margin-bottom: 1em;
}

.container {
  display: grid;
  grid-template-columns: 20em 20em 20em;
  justify-content: space-around;
}

/* styles for displaying messages */
.blurred {
  filter: blur(10px);
  pointer-events: none;
  overflow: none;
}
#messageContainer {
  position: relative;
  overflow: hidden;
}
.message {
  opacity: 0%;
  position: absolute;

  top: 120%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  font-size: 2em;
  font-weight: 700;
}
.show {
  opacity: 100%;
  animation: ease 1.5s messageSlide;
  z-index: 2;
}
.linger {
  opacity: 100%;
  top: 50%;
  z-index: 2;
  font-size: 1em;
}

.card {
  border: 1px solid black;
  border-radius: 1em;
  background-color: rgb(159, 191, 252);
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:hover {
  box-shadow: rgba(190, 190, 250, 0.8) 10px 10px 99px 33px;
}

.card:hover img {
  animation: ease-out 0.3s bounce;
}

.pokeName {
  font-size: 30px;
}

.pokeSprite {
  border: 1px solid white;
  width: 50%;
}

.pokeSprite img {
  width: 80%;
}

/* grid changes for two-column width */
@media (max-width: 59em) {
  .container {
    grid-template-columns: 20em 20em;
  }
}

/* grid changes for one-column width */
@media (max-width: 40em) {
  .container {
    grid-template-columns: 20em;
  }

  .desc {
    margin: 0;
  }
}
